* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result-container {
  max-width: 500px;
  max-height: 250px;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #f0f0f0;
  border-radius: 0.35rem;
}

.result-wrapper {
  padding: 1rem;
  overflow-x: hidden;
  max-height: 100%;
}

.result-container .row {
  display: flex;
}

.result-container .col {
  min-width: 8px;
  max-width: 8px;
  text-align: center;
}

.form-container {
  width: 300px;
  margin-top: 1rem;
}

.form-container input {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid #b5b5b5;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  color: #363636;
  transition: border 0.3s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.06);
}

.form-container input:focus {
  border-color: #ef4444;
}
